/Hospital.Api/bin/
/Hospital.Application/bin/
/Hospital.BackgroundApp/bin/
/Hospital.Domain/bin/
/Hospital.Persistence/bin/
/Hospital.Test/bin
/Hospital.Api/Debug/
/Hospital.Application/Debug/
/Hospital.BackgroundApp/Debug/
/Hospital.Domain/Debug/
/Hospital.Persistence/Debug/
/Hospital.Test/Debug
/Hospital.Api/obj/
/Hospital.Application/obj/
/Hospital.BackgroundApp/obj/
/Hospital.Domain/obj/
/Hospital.Persistence/obj/
/Hospital.Test/obj
/.idea
